@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  font-family: 'Figtree';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blog-preview-card {
  width: 384px;
  height: 522px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #111;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 8px 8px 0 #000;
  transition: all 0.4s ease;
  margin: 0 20px;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 1.5rem;
}

.images-window img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.text-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.text-window h4 {
  max-width: max-content;
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 800;
  color: #111;
}

.text-window p {
  font-size: 0.875rem;
  color: #111;
}

.text-window p:nth-of-type(1) {
  font-size: 0.875rem;
  font-weight: 500;
}

.text-window h2 {
  transition: all 0.2s ease;
}

.text-window h2:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.text-window p:nth-of-type(2) {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b6b6b;
  font-weight: 500;
}

.author-window {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 12px;
}

.author-window img {
  width: 32px;
  height: 32px;
}

.author-window p {
  color: #111;
  font-size: 0.875rem;
  font-weight: 800;
}


@media (max-width: 430px) {
  .images-window img {
    height: max-content;
  }
}